@charset "UTF-8";

.container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

.top {
    flex: 3;
    display: flex;
}

.top .left .half {
    flex: 2;
    display: flex;
}

.top .left .half .left ,  .top .left .half .right {
    flex: 1;
    display: flex;
     border: 1px solid white;
}

.top .center {
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    font-size: 28px;
}

.top .left , .top .right {
    flex: 2;
    border: 1px solid black;
    padding: 10px;
    font-size: 28px;
}

.top .left .account-list {
    flex: 1;
    overflow-y: auto;
    max-height: 150px; /* 높이를 적당히 설정하여 스크롤이 활성화되도록 설정 */
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

/* 버튼 위치 조정 */
.top .left .button-container,
.bottom .button-container {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽 끝으로 정렬 */
    padding-top: 10px;
    margin-bottom: 10px;
}

.bottom {
    flex: 7;
    border: 1px solid black;
    padding: 10px;
}

.button-container button {
    margin-left: 10px; /* 버튼 간 간격을 설정 */
}

.bottom {
    flex: 7;
    border: 1px solid black;
    padding: 10px;
}



.account, .form-row {
	margin-bottom: 10px;
	color: black;
}

label {
	display: inline-block;
	width: 100%;
	text-align: left;
	
}

input {
	width: 200xp;
	font-size: 22px;
}

.button {
	float: right;
	padding: 15px 29px;
	font-size: 13px;
}